.certificate-first-link__description{
	.certificate-first-link__description {
	}
	.description__popup-sertificate {
	}
	.certificate-link-title {
		font-weight: 900;
		font-size: 30px;
		line-height: 28px;
		letter-spacing: 0.01em;
		color: #313131;
		margin-bottom: 5%;
	}
	.span__sertificate-form{
		font-family: 'Roboto',sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 16px;
		color: #6F6F6F;
		display: block;
		text-align: left;
		margin-bottom: 2%;

	}
	.p__sertificate-form{
		font-style: normal;
		font-weight: 500;
		font-size: 26px;
		line-height: 21px;
		color: #313131;
		text-align: left;

	}
	.popup__sertificate-included {
		margin-bottom: 8%;
	}
	.popup__sertificate-included-title {
	}
	.popup__sertificate-included-subtitle {
	}
	.popup__sertificate-duration {
		margin-bottom: 8%;
	}
	.popup__sertificate-duration-title {
	}
	.popup__sertificate-duration-subtitle {
	}
	.popup__sertificate-using {
		margin-bottom: 8%;
	}
	.popup__sertificate-using-title {
	}
	.popup__sertificate-using-subtitle {
	}
	.form__certificate-action-input {
	}
	.general__submit {
	}
	.button {
	}
}