.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	font-family: "Open-Sans",sans-serif;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.6s ease 0;
	.popup__body{
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
	}
	.popup__content{
		color: black;
		max-width: 800px;
		padding: 30px;
		position: relative;
		top: 0;
		left: 0;
	}
	.popup__close{
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 32px;
		color: white;
		text-decoration: none;
	}
	.popup__title{
		font-size: 35px;
	}
	
}

.open{
	opacity: 1;
	visibility: visible;
}

.call-general__form{
	font-family: 'Open-sans',sans-serif;
	.general__input{
		padding: 15px 20px;
		margin-bottom: 4%;
		border-radius: 20px;
		font-size: 20px;
		border: 1px solid black;
	}
	.general__submit{
		margin-top: 5%;
		padding: 15px 20px;
    	font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		background-color: #242424;
		display: block;
		margin: 0 auto;
		color: white;
		-webkit-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
	}
}