.guests{
	background-color: black;
	padding:$sectionPadding;
	.guests__title{
		@extend %h2__styles;
		font-size:$h2__fontSize;
		color: white;
		margin-bottom: 20px;
	}
	.guests__subtitle{
		@extend %subtitle__styles;
		color: white;
		margin-bottom: 20px;
	}
	.slider-item{
		width: 90%;
		height: 600px;
	}
	.services-card__photo{
		width: 70%;
		display: block;
		margin: 0 auto;
	}
	.guests__img--theme{
		background-image:url(../img/guests/our__guest/fone.jpeg);
	}
	.guests__img--flex{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.guest__img-description{
		margin: 0 auto;
		text-align: center;
		font-size: 18px;
		color: white;
		font-weight: bold;
	}
}